@import url(./reset.css);

body {
    font-family: "helvetica", sans-serif;
}

header, footer {
    height: 100px;
    font-size: 25px;
    line-height: 28.75px;
    background-color: #0000FF;
    color: #FFF;
}

header h1 {
    padding: 35px 30px;
}

main {
    min-height: calc(100vh - 200px);
    display: flex;
}

.cardsSection {
    margin: auto;
    display:flex;
    flex-flow: column nowrap;
    
}

.card {
    width: 330px;
    height: 165px;
    margin:20px;
    border: solid 5px #000;
    display: flex;
    text-align: center;
    font-size: 25px;
    line-height: 28.75px;
}

.card p {
    margin: auto;
}

@media all and (min-width: 667px) {

    .cardsSection {
        flex-flow: row wrap;
        justify-content: center; 
    }

    .card {
        width: 600px;
        height: 300px;
        font-size: 50px;
        line-height: 57.5px;
    }
}

footer {
    display: flex;
    justify-content: space-between;
}

footer h4 {
    padding: 35px 30px;
}