@import url(./reset.css);
@import url("https://fonts.googleapis.com/css2?family=Rubik+Beastly&display=swap");


header {
  height: 200px;
  background-color: #e5e000;
}

header h1 {
  font-size: 50px;
  color: #fff;
  line-height: 200px;
  padding-left: 80px;
  font-family: "Helvetica", sans-serif;
}

.image {
  height: 1080px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../img/img.png);
}

main .links {
  height: 100px;
  padding-left: 80px;
  background-color: #e5e000;
  line-height: 100px;
  font-weight: 700;
  font-size: 25px;
  color: #fff;
}

.links a {
  color: #fff;
  text-decoration: none;
}

.content {
  padding: 110px 80px 100px 80px;
  font-family: "Helvetica", sans-serif;
  font-size: 50px;
  font-weight: 300;
  line-height: 65px;
}

.content h2 {
  font-family: "Rubik Beastly", cursive;
  font-weight: 700;
}

footer {
  height: 200px;
  box-sizing: border-box;
  background-color: #e5e000;
  padding: 75px 80px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;



}

footer h3 {
  font-size: 50px;
  color: #fff;
  line-height: 1.2;
  font-family: "Helvetica", sans-serif;
}
